.winner {
	color:green;
}

.bodycolor{
	background-color: pink;
	margin-left: 50px;
	float: left;
	margin-top: 50px;
}

p{
	font-size: 20px;
}

.btnmy{
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}