<%- include ("partials/header.ejs") %>    <!--new way to include footer in video old method was given which doesn't works-->

    <h1 <h1>Hello</h1>
    <ul>
    <% for(var i=0; i<a.length; i++){ %>
        <li><%= a[i] %> </li>
    <% } %>
    </ul>

    <%  if(2>3){ %>
        <p>2 is less than 3</p>
    <%  } else{ %>
        <p>2 is greater than 3</p>
    <%  } %>

    <form action="/addfriend" method="post">      <!--on pressing button we go to localhost:3000/addfriend first from there -->
    <input text="button" name="newfriend" placeholder="enter name">         <!--we are redirected to /friends-->
    <button>submit</button>
    </form>
<%- include ("partials/footer.ejs") %>
